{
    "extends": "eslint:recommended",
    "globals": {
        "require": true,
        "module": true,
        "Buffer": true,
        "exports": true,
        "process": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "no-unused-vars": ["error", { "args": "none", "ignoreRestSiblings": false }] 
    }
}